@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #1753df;
    border-radius: 10px;
  }