@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stats-div-mobile {
    @apply grid content-center text-sm py-2  rounded-sm col-span-1;
  }
}

@layer utilities {
    /*scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      border: 4px solid transparent;
      background-clip: content-box;
    }

    /*scrollbar for IE, Edge and Firefox */
    .scrollbar {
      scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
      scrollbar-width: thin;
    }
}